# For Traefik Let's Encrypt certificates
ACME_EMAIL=email@domain.com

# Server to use for ACME
ACME_CASERVER=https://acme-v02.api.letsencrypt.org/directory
# staging : https://acme-staging-v02.api.letsencrypt.org/directory
